.nav-bar {
  background-color: rgb(250, 250, 250);
}

.button--sign-up {
  color: grey;
}

.button--sign-up:hover {
  color: beige;
  background: black;
}

.nav-bar--link {
  border-radius: 5px;
}

.nav-bar--link:hover {
  color: rgb(179, 95, 215);
  background-color: rgb(250, 236, 255);
  transition: all 0.25s ease-out;
}
